.container {
    max-width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #3C769C, #314452);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    font-size: small;
}